h1 {
  margin-top: 0px;
  margin-bottom: 10px;
  font-family: sans-serif;
  font-size: 4rem;
  text-align: center;
    background: linear-gradient(to top, #ffffff, #000000 );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h2 {
  background: linear-gradient(to top, #ffffff, #000000 );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 3rem;
  text-align: center;
}
h4 {
  background: linear-gradient(to top, #ffffff, #000000 );
  font-size: 2rem;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}


button {
  border-radius: 4px;
  background-color: 	#7289da;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 1900px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

button:hover span {
  padding-right: 25px;
}

button:hover span:after {
  opacity: 1;
  right: 0;
}

.icon-bar {
  width: 80px; /* Set a specific width */
  background-color: #555; /* Dark-grey background */
}

.icon-bar a {
display: inline-block;/* Make the links appear below each other instead of side-by-side */
  text-align: right; /* Center-align text */
  padding: 40px; /* Add some padding */
  transition: all 0.3s ease; /* Add transition for hover effects */
  color: white; /* White text color */
  font-size: 18px; /* Increased font-size */
}

.icon-bar a:hover {
  background-color: #000000; /* Add a hover color */
}

.active {
  background-color: #fa0505; /* Add an active/current color */
}
