

button {
  border-radius: 4px;
  background-color: 	#7289da;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 1900px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

button:hover span {
  padding-right: 25px;
}

button:hover span:after {
  opacity: 1;
  right: 0;
}

.icon-bar {
  width: 80px; /* Set a specific width */
  background-color: #555; /* Dark-grey background */
      animation:pfpDefault 800ms linear both;
}

.icon-bar a {
display: inline-block;/* Make the links appear below each other instead of side-by-side */
  text-align: right; /* Center-align text */
  padding: 40px; /* Add some padding */
  transition: all 0.3s ease; /* Add transition for hover effects */
  color: white; /* White text color */
  font-size: 18px; /* Increased font-size */
      animation:pfpDefault 800ms linear both;
}


a.menuTab:link:hover, a.menuTab:visited:hover {
  text-decoration: underline;
      animation:pfpHoverOn 800ms linear both;
}

.active {
  background-color: #fa0505; /* Add an active/current color */
      animation:pfpDefault 800ms linear both;
}
